<%include ../partials/header.ejs %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Edit
                <%=trek.name%> ! </h1>
            <div style="width: 30%; margin:25px auto ">
                <form method="POST" action="/treks/<%= trek.id %>?_method=PUT">
                    <div class="form-group"> <input class="form-control" type="text" name="name" placeholder="Name" value="<%=trek.name%>"></div>
                    <div class="form-group col-md-6" style="padding-right: 2px;padding-left: 0px;"> <input class="form-control" required type="number" name="price" placeholder="Price" value="<%=trek.price %>" min="0.01" step="0.01"></div>
                    <div class="form-group col-md-6" style="padding-right: 0px;padding-left: 2px;"><input class="form-control" required type="text" name="location" placeholder="Location" value="<%=trek.location%>""></div>
                    <div class="form-group"><input class="form-control" type="text" name="image" placeholder="Image URL" value="<%=trek.image%>"></div>
                    <textarea class="form-control" style="overflow-y: scroll;" required name="description" placeholder="Description"><%=trek.description%></textarea>>
                    <div class="form-group"><button class="btn-lg btn-default btn-block btn-primary">Update Trek!</button></div>
                    <hr>
                </form>
                <div class="form-group"><a class="btn btn-lg btn-default btn-block btn-primary" href="/treks">GO BACK!</a></div>
            </div>


        </div>
    </div>

    <% include ../partials/footer.ejs%>