<!DOCTYPE html>
<html>

<head>
    <title>TrekAdvisor</title>
    <link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="icon" href="/stylesheets/trekking.ico">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="indB">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/treks">TrekAdvisor</a> </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right nav-tabs">
                    <%if(!currentUser)
                    {%>
                        <li role="presentation"><a href="/register">Sign Up</a></li>
                        <li role="presentation"><a href="/login">Login</a></li>
                        <%}
                            else{%>
                            <li role="presentation" class="active"><a href="#">Signed In As <%=currentUser.username%></a></li>
                            <li role="presentation"><a href="/treks/recommen">Your Recommendations!</a></li>
                            <li role="presentation"> <a href="/logout">Logout</a> </li>
                            <%}%>
                </ul>
            </div>
        </div>

    </nav>
       <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1 class="clip"> Welcome to TrekAdvisor!</h1>
                <p><span class="glyphicon glyphicon-tent"></span>View our hand-picked trekking spots from all over the world!</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/treks/new">Add New Trekking Spot</a>
               </p>
            </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            
            <%if (trek.length >0){
            for(var i=0;i<trek.length;i++)
        {%>     <div class="col-md-4 col-sm-6">
                    <div class="thumbnail animation"><img style="object-fit: cover;height:225px;" src="<%=trek[i].image%>">
                        <div clas="caption">
                            <h4>
                                <%=trek[i].name%>
                            </h4>
                        </div>
                        <p><a href="/treks/<%=trek[i].id%>" class="btn btn-primary">More Info</a> </p>
                    </div>
                 </div>
                
                <%}}
                else{%>
                    <h1 style="color: azure;">Nowhere to Go!</h1>
                <%}%>
        </div>
    </div>
    <section class="pagination ">
        <% if(currentPage != 1 && previousPage!=1){%>
         <a href="?page=1">First</a><%}%>
       
         <% if(hasPreviousPage){%>
             <a href="?page=<%=previousPage%>" ><i class="fas fa-chevron-circle-left"></i></a><%}%>
         <%if(total>0){%>
         <a href="?page=<%=currentPage%>" class="active"><%=currentPage%></a><%}%>
        
         <% if(hasNextPage){%>
        <a href="?page=<%=nextPage%>" ><i class="fas fa-chevron-circle-right"></i></a><%}%>
        

        <% if(currentPage !== lastPage && nextPage !== lastPage && total>0 ){%>
        <a href="?page=<%=lastPage%>" >Last</a><%}%>

        </section>
    <% include ../partials/footer.ejs%>