<%include ../partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Yelp Camp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>

                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img src="<%=trek.image%>" class="img-responsive">
                    <div class="caption-full">
                        <h4 class="pull-right ">
                            $<%= trek.price %>/-
                        </h4>
                        <h4>
                            <a href="#">
                                <%=trek.name%>
                            </a>
                        </h4>
                        <p>
                            <%=trek.description%>
                        </p>
                        <hr>
                        <p><em>Submitted by</em>
                            <%=trek.creator%>
                        </p>
                        <%if(currentUser && trek.userId === currentUser.id){%>
                            <a class="btn btn-xs btn-warning" href="/treks/<%=trek.id%>/edit">Edit</a>
                            <form class="deleteForm" action="/treks/<%=trek.id%>?_method=DELETE" method="POST">
                                <input type="hidden" name="trekId" value="<%=trek.id%>">                                   
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <%}%>

                        </div>
                            
                    </div>
                            <div class="well">
                                <div class="text-right">
                                    <a href="/treks/<%=trek.id%>/comments/new" class="btn btn-success">Leave a Review</a>
                                </div>
                                <hr>
                              
                                          <%for(var i=0;i<comments.length;i++)
                                {%>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong><%=comments[i].creator%></strong>
                                            <span class="pull-right"><%=moment(comments[i].createdAt).fromNow()%></span>
                                            <p>
                                                <%=comments[i].text%>
                                            </p>
                                            <%if(currentUser && comments[i].userId === currentUser.id){%>

                                                 <a class="btn btn-xs btn-warning" href="/treks/<%=trek.id%>/comments/<%=comments[i].id%>/edit">Edit</a>
                                                <form class="deleteForm" action="/treks/<%= trek.id %>/comments/<%=comments[i].id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-xs btn-danger">Delete</button>
                                                </form>
                                                <%}%>
                                        </div>
                                    </div>
            
                                    <%}%>
                                
                                    
                            </div>
                            
                    </div>
                </div>
             
    </div>







    <%include ../partials/footer%>